* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

/* a {
  color: inherit !important ;
} */

.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
}

/* MAIN SECTION  */
.mainSection {
  height: 100vh;
  /* background-color: aqua; */
  background-size: cover;
}

.navbar {
  height: 100px;
  padding: 0 60px !important;
  background-color: lightblue;
}

.navbar-brand {
  font-size: 1.5rem !important;
}

.navbar-collapse {
  margin-left: 4rem;
}

.navbar-collapse li {
  margin-left: 2rem;
}

.jumbotron1 {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 1rem 2rem; */
  /* border-radius: 3rem; */
  cursor: pointer;
  transition: 0.3s ease-in-out;
  outline: none;
  height: 200px;
  /* width: 100%; */
  background-color: lightblue;
  text-align: center;
}

.jumbotron1 h1 {
  font-size: 4rem;
}

.hero {
  height: 100vh;
  background-size: cover;
}

.nav {
  padding-top: 2rem;
}


#speakBtn {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  /* color: white; */
  /* background: teal; */
  padding: 1rem 3rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  border: none !important;
  background-color: transparent;
}

#speakBtn:hover {
  background-color: black;
  color: white;
}

#speakBtn i {
  color: black;
  font-size: 3rem;

  transition: all 0.3s ease-in-out;
}

#speakBtn:hover i {
  font-size: 4rem;
  color: #34b334;
}

.gridSection {
  height: 100vh;
  display: flex;

  /* background-color: antiquewhite; */
}

.left {
  width: 50%;

  object-fit: cover;
  position: relative;
}

.left img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 90%;
  max-height: 90%;

}


.right {
  width: 50%;

  /* background-color: aqua; */
}

.articleText {
  padding-top: 2rem;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.articleText h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.articleText p {
  font-size: 1.1rem;
  line-height: 2rem;
}